
.h1, .h3{

    font-family: 'Cinzel', serif;
}
p, a, .body_text{
    font-family: 'Marcellus', serif;

}

.h3{
    color:#abaca8;
}

.nav-link:hover{
    text-color:#a83d1d;
}

.page_bg{
    background-image: url(../imgs/potential_bg_light.gif);
    background-size: contain;
    background-position: -25px -100px;
    /* background-color: #000000; */
    
}
.bg_color{
    background-color: #eaebe7;
}
.bg_color:hover{
    opacity: 1;
}


.candle_img{
    background-image: url(../imgs/candle_gif_animation.gif);
    background-size: cover;
    height: 425px;
    background-position: 0px -90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tarot_bg{
    background-image: url(../imgs/page_bg_dsgn.jpg);
    height: 200px;
    background-attachment: fixed;
    background-position-x: 10px;
    background-size: cover;
    opacity: .8;
    z-index: -1;
    
}

.tarot_bg:hover{
    opacity: 1;

}

.about{
    height: 100px;
}

ul{
    list-style: none;
}

.footer_color{
    background-color: #e5d4ba;
    height:150px;
}